// include/credentials.h.example

#pragma once

// Renomeie este arquivo para "credentials.h" e preencha com suas credenciais de Wi-Fi

#define WIFI_SSID "COLOQUE_O_NOME_DA_SUA_REDE_AQUI"
#define WIFI_PASSWORD "COLOQUE_SUA_SENHA_AQUI"